/**
  scss类 （@extend）
 */

/*左右两边对齐清除浮动 % 不会被打包
---------------------------------------------------------------- */
%clearFix {
  content: '';
  clear: both;
  display: block;
  height: 0;
}

%border-bottom1 {
  border-top: 1px  solid #F3F3F3;
}

%border1 {
  border: 1px solid rgba(243,243,243,1);
}
